
<% @events.each do |event| %>
    <div class="row event-row text-center">
        <div id="today" data-spy="affix" data-offset-top="200" class="stickyicky" ><h2>Today</h2></div>
        <%= image_tag 'bruno.jpg' %>
        <div class="one_fourth">
            <h3>Who</h3>
            <%= link_to event.organization.name, event.organization %>
        </div>
        <div class="one_fourth">
            <h3>What</h3>
            <p>
                <%= link_to event.name, organization_event_path(event.organization, event) %><br>
                <small><%= link_to 'Edit', edit_organization_event_path(event.organization, event) %> |
                <%= link_to 'Destroy', organization_event_path(event.organization, event), method: :delete, data: { confirm: 'Are you sure?' } %></small>
            </p>
        </div>
        <div class="one_fourth">
            <h3>Where</h3>
            <p><%= event.location %></p>
        </div>
        <div class="one_fourth">
            <h3>When</h3>
            <p><%= event.event_start_date.strftime('%A') %> at <%= event.event_start_time.strftime('%l%P') %></p>
        </div>
    </div>
<% end %>

