<% @events.each do |event| %>
    <div class="row event-row text-center">
        <div class="one_third">
            <h3><%= event.name %></h3>
            <p><%= event.location %></p>
        </div>
        <div class="one_third">
            <h3>Date: </h3><%= event.event_start_date %><br>
            <h3>Time: </h3><%= event.event_start_time %><br>
        </div>
        <div class="one_third">
            <h3>Actions</h3>
            <%= link_to 'Show', organization_event_path(event.organization, event) %><br>
            <%= link_to 'Edit', edit_organization_event_path(event.organization, event) %><br>
            <%= link_to 'Destroy', organization_event_path(event.organization, event), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
    </div>
<% end %>

