<table>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Event start date</th>
    <th>Event end date</th>
    <th>Event start time</th>
    <th>Event end time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.location %></td>
    <td><%= event.event_start_date %></td>
    <td><%= event.event_end_date %></td>
    <td><%= event.event_start_time %></td>
    <td><%= event.event_end_time %></td>
    <td><%= link_to 'Show', organization_event_path(event.organization, event) %></td>
    <td><%= link_to 'Edit', edit_organization_event_path(event.organization, event) %></td>
    <td><%= link_to 'Destroy', organization_event_path(event.organization, event), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

