<div class="five_sixth">
  <div class="page-header">
      <%= link_to 'Edit', edit_organization_event_path(@organization), class: "btn btn-warning right" %>
    <h1><%= @event.name %></h1>
  </div>

  <div class="row event-row text-center">
    <%= image_tag 'bruno.jpg' %>
    <div class="one_third">
      <h3>Who</h3>
      <%= @event.organization.name %>
    </div>
    <div class="one_third">
      <h3>Where</h3>
      <%= @event.location %>
    </div>
    <div class="one_third">
      <h3>When</h3>
      <%= @event.event_start_date.strftime('%A') %> at <%= @event.event_start_time.strftime('%l%P') %>
    </div>
  </div>
</div>

