<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Event start date:</b>
  <%= @event.event_start_date %>
</p>

<p>
  <b>Event end date:</b>
  <%= @event.event_end_date %>
</p>

<p>
  <b>Event start time:</b>
  <%= @event.event_start_time %>
</p>

<p>
  <b>Event end time:</b>
  <%= @event.event_end_time %>
</p>


<%= link_to 'Edit', edit_organization_event_path(@organization) %>
