<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @organization.name %>
</p>

<p>
  <b>Description:</b>
  <%= @organization.description %>
</p>

<p>
  <b>Website:</b>
  <%= @organization.website %>
</p>

<%= link_to 'New Event', new_organization_event_path(@organization) %>
<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
