<div class="row footer text-center">
	<%= image_tag 'logo.png' %>
	<p>
		Powered by Campusvine.<br>
		Built by Heuretix.
	</p>
	<a href="http://twitter.com/campusvine" target="_blank"><%= image_tag 'twitter.png' %></a>
	<a href="http://facebook.com/campusvine" target="_blank"><%= image_tag 'facebook.png' %></a>
	<a href="#" id="monkeyfoot"><%= image_tag 'cv-footer-logo.png' %></a>
	<a href="#" target="_blank"><%= image_tag 'youtube.png' %></a>
	<a href="http://plus.google.com/110384859709338115691" target="_blank"><%= image_tag 'gplus.png' %></a>
</div>